alias a='alias'
alias v='vim'
alias g='git'
alias h='history'
alias t='top -c'
alias ll='ls -l'
alias la='ls -ltrah'
alias df='df -h'
alias psg='ps faux | grep -i'

# git aliases
alias gst='git status'
alias glo='git log'
alias gci='git commit'
alias gcia='git commit -a'
alias gco='git checkout'
alias gbr='git branch'
alias gdi='git diff'
alias gdica='git diff --cached'
alias gdt='git difftool'
alias gdtca='git difftool --cached'
alias gma='git checkout master'
alias gdiw='git diff -w'
alias gitl="git log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'"
alias gitll='log --abbrev-commit --stat'
